*.apk
*.aar
*.ap_
*.aab

*.dex

*.class

bin/
gen/
out/
release/

.gradle/
build/
app/build/

local.properties

proguard/

*.log

.navigation/

captures/

.idea/
*.iml
*.iws
*.ipr

*.jks
*.keystore

.externalNativeBuild/
.cxx/

google-services.json

.DS_Store

*.kotlin_module
.kotlin/

node_modules/
